<!DOCTYPE html>
<html>
<head>
    <title>About Us</title>
    <style>
        body{
            background-color:white;
            font-family: "Roboto",sans-serif;
            font-size:18px;
            margin:0px;

            color:darkslategray;
            line-height: 25px;
        }
        .main1
        {
           color: #0b0b0b;
            margin-left:15px;
            margin-right:15px;
        }
        header{
            background-color:#0A091A;
            margin-top:0px;
            color:whitesmoke;
            padding:1px;
            height:auto;
        }
        header ul{
            list-style-type:none;
            text-align:center;
            padding:0px;
            margin-top:2px;

        }
        header ul li{
            display: inline;


        }
        header ul li a{
            text-decoration:none;
            font-size:17px;
            padding-right:8px;
            padding-left8px;
            margin-top:2px;
            margin-left:300px;
            margin-left:100px;
            color:white;
        //border-top:2px solid white;
        }
        header ul li a:hover{
            color:grey;


        }
        header h3{
            margin-left:50px;
            font-size: 16px;
            padding:0px;
            font-weight:lighter;
            font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
            margin-bottom:2px;
        }
        .hrheader{
            color: aqua;
            margin-left:50px;
            padding:0px;
            margin-top:0px;
            margin-bottom:2px;
            margin-right:450px;
        }
        header h6{
            margin-left:180px;
            font-size: 10px;
            padding:0px;
            letter-spacing: 5px;
            font-weight:bolder;
            color:gray;
            margin-top:0px;
            margin-bottom:2px;
            margin-bottom:0px;
        }
        header img{
            margin-left:2px;
            max-height: 100px;
            max-width: 100px;
            float:left;
            clear:left;
        }
        .headermain{
            background-color:black;
            margin-top:0px;
            padding:1px;
        }


        footer{
            background-color:#1B1B1B;
            color:white;
            text-align:center;
            font-size:17px;
            margin-top:100px;
            float:bottom;
            clear:bottom;
            padding:5px;
            height:60px;
            margin-left:0px;
            margin-right:0px;
        }
        footer h5{
            margin-top:20px;
        }


    </style>
</head>
<body>



<div class="main1">
    <div class="firstp">
        <h2><U><BR>THE COLLEGE</U></h2>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PPTM Arts and Science College, is a best self-financing
            college in Malappuram district,
            is committed to provide excellent and value-based education with a flair for ethics a&nbsp;nd &nbsp;professionalism.
            The&nbsp; College&nbsp; is &nbsp;located &nbsp;amidst&nbsp; panoramic&nbsp; natural&nbsp; beauty over-looking the hills and valleys at cherur,
            near Vangara a city of <br> various educational institutions- on &nbsp;the Vangara- Kunnumpuram road.
            The College is easily accessible by road, rail and air. The College is governed by the PPTM sponsored by
            the Yatheem khana committee cherur, a society instituted by topclass intellectuals of the Muslim
            community.
        </p></div>
    <div class="secondp">
        <h2>AIMS AND OBJECTIVES</h2>
        <p>

            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The College Management has chosen this
            backward area for establishing the College with the aim of sharing the
            responsibility of uplifting the people of the area by making technical education affordable and within reach.
            The Management has no motive of making profit from the College but aims at creating a Center of Excellence in
            Commerce Management and Technology.
        </p>
    </div>

    <div class="thirdp">
        <h2>CORE VALUES</h2>
        <p>
        <ul>
            <li>We are committed to providing the best educational experience possible to every student and we
                believe that learning is rooted and grows in creative thought, inquiry, and self-discovery.</li>
            <li>
                Respect and tolerance for the views of every individual.
            </li>
            <li>
                Attention to issues of national relevance as well as of global concern.
            </li>
            <li>
                We promote an open and diverse community that encourages an unfettered exchange of ideas, with
                civility and respect, and the empowerment of all individuals and we believe that by helping others,
                we enhance our own lives and the lives of others.
            </li>
            <li>
                We promote an open and diverse community that encourages an unfettered exchange of ideas, with
                civility and respect, and the empowerment of all individuals and we believe that by helping others,
                we enhance our own lives and the lives of others.
            </li>
        </ul>
        </ul>
        </p>
    </div>
    <div class="fouthp">
        <h2>COURSE OFFERED</h2>
        <P>
        <h4>The college offers Science , Commerce And Arts Programs</h4>
        <ul>
            <li>BCA</li>
            <li>BCOM.fin</li>
            <li>BCOM.com</li>
            <li>BBA</li>
            <li>BA</li>
        </ul>
        </P>
    </div>
</div>
<footer>
    <h5>Copyright &copy 2019 PPTM College Cherur All right reserved</h5>
</footer>
</body>
</html>