<!doctype html>
<html lang="en">

<head>
    <title>contacts</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Muli:400,700|Hepta+Slab:400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="css/aos.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="css/style.css">

</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">


<div class="site-wrap" id="home-section">

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>

    <div class="site-section">
        <div class="container">

            <div class="row mb-5 ">
                <div class="col-md-7 text-center mx-auto">
                    <span class="subtitle-39293">Contact</span>
                    <h2 class="serif">Get In Touch</h2>
                </div>
            </div>

            <div class="row">




                <div class="col-lg-3 ml-auto" >
                    <img src="images/person_1.jpg" class="img-responsive">
                </div>



                <div class="col-lg-4 ml-auto" style="background-color:#212529;">
                    <div class="bg-white p-3 p-md-5">
                        <h3 class="text-black mb-4">Contact Info</h3>
                        <h5>HOD OF DEPARTMENT</h5>
                        <ul class="list-unstyled footer-link">
                            <li class="d-block mb-3">
                                <span class="d-block text-black">NAME</span>
                                <span>ROSHAN SIR</span></li>
                            <li class="d-block mb-3"><span class="d-block text-black">Phone:</span><span>+91 9562136180</span></li>
                            <li class="d-block mb-3"><span class="d-block text-black">Email:</span><span>mohroshanajmal@gmail.com</span></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-5 ml-auto" >
                    <!-- -->
                </div>





            </div>
            <!----------------------------------------------------------------------------->

            <br><br><br>

            <br><br><br>

            <div class="row">
                <div class="col-lg-3 ml-auto" >
                    <!-- -->
                </div>

                <div class="col-lg-4 ml-auto" style="background-color:#212529;">
                    <div class="bg-white p-3 p-md-5">
                        <h3 class="text-black mb-4">Contact Info</h3>
                        <h5>PROFFESOR IN BUSSINESS </h5>
                        <ul class="list-unstyled footer-link">
                            <li class="d-block mb-3">
                                <span class="d-block text-black">NAME</span>
                                <span>RAZACK SIR</span></li>
                            <li class="d-block mb-3"><span class="d-block text-black">Phone:</span><span>+91 9495324713</span></li>
                            <li class="d-block mb-3"><span class="d-block text-black">Email:</span><span>razack@gmail.com</span></li>
                        </ul>
                    </div>
                </div>


                <div class="col-lg-2 ml-auto" >
                    <img src="images/person_1.jpg" class="img-responsive">
                </div>

                <div class="col-lg-3 ml-auto" >
                    <!-- -->
                </div>

            </div>

            <!----------------------------------------------------------------------------->
            <br>
            <br> <br><br><br><br>
            <div class="row">




                <div class="col-lg-3 ml-auto" >
                    <img src="images/person_1.jpg" class="img-responsive">
                </div>



                <div class="col-lg-4 ml-auto" style="background-color:#212529;">
                    <div class="bg-white p-3 p-md-5">
                        <h3 class="text-black mb-4">Contact Info</h3>
                        <h5>PROFFESOR IN CSS</h5>
                        <ul class="list-unstyled footer-link">
                            <li class="d-block mb-3">
                                <span class="d-block text-black">NAME</span>
                                <span>HARSHAL SIR</span></li>
                            <li class="d-block mb-3"><span class="d-block text-black">Phone:</span><span>+91 9562136180</span></li>
                            <li class="d-block mb-3"><span class="d-block text-black">Email:</span><span>harshal123@gmail.com</span></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-5 ml-auto" >
                    <!-- -->
                </div>





            </div>

            <!---------------------------------------------->

        </div>
    </div> <!-- END .site-section -->




    <script src="/dir/jquery-3.3.1.min.js"></script>
    <script src="dir/jquery-migrate-3.0.0.js"></script>
    <script src="dir/popper.min.js"></script>
    <script src="dir/bootstrap.min.js"></script>
    <script src="dir/owl.carousel.min.js"></script>
    <script src="dir/jquery.sticky.js"></script>
    <script src="dir/jquery.waypoints.min.js"></script>
    <script src="dir/jquery.animateNumber.min.js"></script>
    <script src="dir/jquery.fancybox.min.js"></script>
    <script src="dir/jquery.stellar.min.js"></script>
    <script src="dir/jquery.easing.1.3.js"></script>
    <script src="dir/bootstrap-datepicker.min.js"></script>
    <script src="dir/isotope.pkgd.min.js"></script>
    <script src="dir/aos.js"></script>

    <script src="dir/main.js"></script>

</body>

</html>

